body{
    margin: 10px;
    padding: 10px 50px;
    background-color: rgb(15, 17, 34);
    color: white;
    text-align: center;
    font-size: 34px;
    margin-left: ;
}
button{
    font-size: 20px;
}